* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
.mainHeader {
    background-color : rgb(61, 133, 198);
    color : white;
    text-align: center;
    padding : 40px;  
    margin : 0px;
}

.flex-sm-fill{
    background-color:  rgb(61, 133, 198);
    color: rgb(159, 197, 232);
    size: 10px;
}

.active1{
    background-color: rgb(159, 197, 232);;
    color: white;
}

.h2Style {
    text-align: center;
    padding: 30px;
    color:  rgb(61, 133, 198);
    
}

.nav-item {
    background-color:  rgb(61, 133, 198);
}
.nav-link {
    color: white;
}

.parallax { 
    /* The image used */
    background-image: url("pexels-fauxels-3184424.jpg");
    /* Set a specific height */
    height: 300px; 
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

