.mainHeader{
    background-color : rgb(61, 133, 198);
    color : black;
    text-align: center;
    padding : 40px;
    font-family : Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.flex-sm-fill{
    color:  rgb(61, 133, 198);
    background-color: rgb(159, 197, 232);
}

.active1{
    background-color: rgb(61, 133, 198);
    color: white;
}