.PreviewContainer{
    margin: 5%;
}

.section {
    align-content: center;
    padding: 50px 0px 0px 0px;
    size: 2rem;
}

.analyzeBtn{
    background-color: rgb(61, 133, 198);
    left: 50%;
}

.summary {
    text-align: center;
}

.noDisplay { 
    display:none; 
}

#suggests {
    text-align: center;
}


.border-dark {
    border-color:  rgb(61, 133, 198);
}

.button_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
}

.feedback {
    margin: 0px;
    padding: 0px;
}

.feedbackScore {
    text-align: center;
    padding: 30px;
    color:  rgb(61, 133, 198);
    font-size: 25px;
}

.container-fluid{
    padding: 0px;
}

.button {
    background-color: red;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 50%;
  }