.PreviewContainer{
    margin: 5%;
}

.analyzeBtn{
    background-color: rgb(61, 133, 198);
    left: 50%;
}

.summary {
    text-align: center;
}

.noDisplay { 
    display:none; 
}

#suggests {
    text-align: center;
}