h2, h3 {
display: flex;
justify-content: center;
padding: 50px 0px 0px 0px;
}
.number, .sign {
    font-size: 2rem;
    padding: 1px;
}
.percentage {
    display: flex;
}
.stat {
    border: solid 1px;
    margin: 2.3rem 4rem 2rem 4rem;
}
.stat:before {
    overflow: hidden;
    position: relative;
    transition: all 0.3s ease 0s;

}
.statistic, .customers {
    display: flex;
    padding: 1rem;
    justify-content: center;
}
.stat, .customer {
    display: flex;
    flex-direction: column;
    padding: 1rem 2rem 1rem 2rem;
    justify-content: center;
    align-items: center;
    width: 320px;
    height: 280px;
}

.customer {
    width: auto;
    height: auto;
}
.customersbox {
    display: flex;
    justify-content: space-around;
    padding: 1rem;
}
.customers {
    align-items: center;
}