h2, h3 {
display: flex;
justify-content: center;
padding: 50px 0px 0px 0px;
}
.number, .sign {
    font-size: 2rem;
    padding: 1px;
}
.percentage {
    display: flex;
}
.stat {
    border: solid 1px;
    margin: 2.3rem 4rem 2rem 4rem;
    position: relative;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    color: black;
}
.overlayText, .title {
    padding: 20px;
}
.statistic, .customers {
    display: flex;
    padding: 1rem;
    justify-content: center;
}
.stat, .customer {
    display: flex;
    flex-direction: column;
    padding: 1rem 2rem 1rem 2rem;
    justify-content: center;
    align-items: center;
    width: 320px;
    height: 280px;
}
.why, .what p {
    text-align: center;
    vertical-align: middle;
}
.customer {
    width: auto;
    height: auto;
}
.customersbox {
    display: flex;
    justify-content: space-around;
    padding: 1rem;
}
.customers {
    align-items: center;
}